%main.container
  %h1.h1 Photos
  .press__images
    %div
      = image_tag 'bbq-bites.jpg'
    %div
      = image_tag 'bb-salad.jpg'
    %div
      = image_tag 'biscuits.jpg'
    %div
      = image_tag 'cinnamon-rolls.jpg'
    %div
      = image_tag 'cheddar-cornbread.jpg'
    %div
      = image_tag 'lentil-slices-with-sundried-tomatos.jpg'
    %div
      = image_tag 'mac.jpg'
    %div
      = image_tag 'spicy-red-cabbage-slaw.jpg'
    %div
      = image_tag 'spinach-tacos.jpg'
    %div
      = image_tag 'veggie-sushi.jpg'
